.navbar-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.admin-login-btn{
    padding: 8px 12px;
    border-radius: 5px;
    background-color: rgb(61, 142, 255);
    color: white;
    cursor: pointer;
    border: none;
    margin-right: 20px;
}